body {
    background-color: blue;
}
ul {
    list-style-type: square;
}
.main {
    width: 1000px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.left-side-bar {
    width: 400px;
    background-color: darkslategray;
    min-height: 500px;
    display: flex;
}
.left-section {
    padding: 50px;
}
.left-p {
    color: antiquewhite;
    border-bottom: 3px solid dimgray;
}
.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.heading1-left {
    color: antiquewhite;
    font-size: 30px;
}
.right-side-bar {
    padding: 50px;
    width: 600px;
    background-color: antiquewhite;
    min-height: 500px;
}
.right-section {
    padding: 0px 50px;
    margin-bottom: 20px;
    border: 3px solid black;
}
.right-p {
    color: darkslategray;
    border-bottom: 3px solid dimgray;
}
.heading1-right {
    color: darkslategray;
    font-size: 30px;
}