body {
    background-color: blue;
}
ul {
    list-style-type: square;
}
.main {
    width: 1000px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.left_side_bar {
    width: 400px;
    background-color: darkslategray;
    min-height: 500px;
    /*display: flex;*/
}
.left_section {
    padding: 10px 50px 0px 50px;

}
.left_prof {
    color: antiquewhite;
    margin-bottom: 40px;
    border-bottom: 3px solid dimgray;
}
.left_prof_withoutborder {
    color: antiquewhite;
    margin-bottom: 40px;
}
.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.heading_name {
    font-family: "Montserrat Medium";
    color: antiquewhite;
    font-size: 30px;
}
.heading_about_me {
    font-family: "Montserrat Medium";
    color: antiquewhite;
    font-size: 20px;
}
.left_list_contact {
    color :antiquewhite;
}
.left_list_contact_img1 {
    list-style-image: url("foto/tel40.png");

}
.left_list_contact_img2 {
    list-style-image: url("foto/poch40.png");
}
.left_list_contact_img3 {
    list-style-image: url("foto/inst40.png");
}
.right_side_bar {
    padding: 50px;
    width: 600px;
    background-color: antiquewhite;
    min-height: 500px;
}
.right_section {
    padding: 0px 50px;
    margin-bottom: 20px;
    border: 3px solid black;
}
.right_p_experience {
    color: darkslategray;
    border-bottom: 3px solid dimgray;
}
.heading_experience {
    font-family: "Montserrat Medium";
    color: darkslategray;
    font-size: 30px;
}
.photo_skills {
    width: 480px;
    height: auto;
}


@font-face {
    font-family: "Montserrat Medium";
    src: url("fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}