body {
    background-color: blue;
}
ul {
    list-style-type: square;
}
.main_container {
    width: 1000px;
    display: flex;
    margin: auto;
}
.left_side_bar {
    width: 400px;
    background-color: darkslategray;
}
.left_section {
    padding: 10px 50px 0px;
    color: antiquewhite;
    margin-bottom: 40px;
}
.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.bio_name {
    font-size: 40px;
}
.bio_occupation {
    border-bottom: 3px solid dimgray;
}
.bio_name,
.interests,
.contact_info,
.about_me {
    font-family: "Montserrat Medium";
}
.about_me,
.contact_info,
.interests {
    font-size: 20px;
}
.right_side_bar {
    padding: 50px;
    width: 600px;
    background-color: antiquewhite;
}
.right_section {
    border: 3px solid black;
    padding: 0px 50px;
}
.right_section,
.right_section_skills{
    color: darkslategray;
    margin-bottom: 20px;
}
.right_section_skills {
    display: flex;
}
.experience,
.education,
.my_skills {
    font-family: "Montserrat Medium";
    font-size: 20px;
}
.experience_info,
.education_info {
    border-bottom: 3px solid dimgray;
}
.photo_skills {
    width: 480px;
    height: auto;
}


@font-face {
    font-family: "Montserrat Medium";
    src: url("fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}